.tm-section-3 {
    height: 790px;
    background-image: url(../img/goldentea.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}